.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

html, body {
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), transparent);
  z-index: 0;
  background-size: 200% 200%;
}

.App-main, .App-header, .App-footer {
  position: relative;
  z-index: 1;
}

.glass-tile,
.ad-widget {
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.period-progress,
.GoogleCalendar {
  grid-column: span 3;
  width: 100%;
  position: relative;
  z-index: 2; /* Ensure it stays above the gradient */
}

.GoogleCalendar {
  z-index: 2; /* Ensure Google Calendar content stays above the gradient */
}

/* Slide-up animation for global elements with cubic ease-out */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

/* Slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

/* Slide-in-from-left animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  opacity: 1; /* Ensure it's visible after the animation */
}

/* Slide-in-from-right animation */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  opacity: 1; /* Ensure it's visible after the animation */
}

/* Scale-in animation */
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  animation: scaleIn 3s cubic-bezier(0.25, 0.1, 0.25, 1.0) forwards;
}

/* Blur overlay for unauthenticated users on /main */
.main-blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 10;
}

/* Ensure the Announcement component doesn't displace other elements */
.grid .Announcement {
  grid-column: 2 / span 1; /* Centering the announcement */
  width: 100%;
  justify-self: center;
}
