.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

html, body {
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), transparent);
  z-index: 0;
  background-size: 200% 200%;
}

.App-main, .App-header, .App-footer {
  position: relative;
  z-index: 1;
}

.glass-tile,
.ad-widget {
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.period-progress,
.GoogleCalendar {
  grid-column: span 3;
  width: 100%;
  position: relative;
  z-index: 2; /* Ensure it stays above the gradient */
}

.GoogleCalendar {
  z-index: 2; /* Ensure Google Calendar content stays above the gradient */
}

/* Slide-up animation for global elements with cubic ease curve */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

/* Slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
